*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

[v-cloak]{
    display: none;
}

body{

}

.background{
    background-color: #ece5dd;
    height: 100vh;
}

.green-band{
    height: 15vh;
    background-color: #128C7E;
}

.app-wrapper{
    background-color: white;
    min-width: 750px;
    height: 90vh;
    margin: auto;
    top: 0;
    bottom: 0;  
    left: 0;
    right: 0;
    text-align: center;
}

.user{
    height: 5rem;
}

.contacts{
    overflow: scroll;
    height: 90vh;
}

.contact-image{
    width: 3rem;
    border-radius: 50px;
    margin-right: 1rem;
}

.notifications{
    background-color: #34b7f1;
}

.bell-wrapper{
    background-color: white;
    width: fit-content;
    aspect-ratio: 1/1;
    border-radius: 30px;
}

.bell-icon{
    width: 3rem;
}

.notification-info>a{
    font-size: smaller;
}

.contact-searchbar{

}

.user-options>a>i,
.upper-chat-options>a>i{
    font-size: larger;
}

.messaging{
    width: 100%;
    height: 90vh;
    border-left: 2px solid gainsboro;
}

.last-online{
    font-size: smaller;
}

.upper-chat{
    height: 5rem;
}

.main-chat{
    height: calc(100% - 10rem);
}

.lower-chat{
    background-color: whitesmoke;
    height: 5rem;
}

.messages{
    border-radius: 10px;
    z-index: 2;
    width: fit-content;
}

.messages-background{
    width: 100%;
    height: 100%;
    z-index: 0;
}

.sent{
    background-color: #25d366;
    align-self: flex-end;
}

.received{
    background-color: aliceblue;
}

.message-input{
    height: 40%;
    width: 100%;
}